.intro-box {

    width: 300px;
    height: 100px;
    border: black 1px solid;
    border-radius: 12px;
    padding: 5px;
}

 
shreddit-app,
._6s5d._71pn,
._9zs2,
.x1qjc9v5.x78zum5.x1q0g3np.xl56j7k.xh8yej3,
.x1qjc9v5.x78zum5.x1q0g3np.x5yr21d.xw2csxc.x10wlt62.x1n2onr6.x1rohswg.xfk6m8,
.x9f619.x1n2onr6.x1ja2u2z.x78zum5.xdt5ytf.x1iyjqo2.x2lwn1j.xl56j7k,
.x9f619.xjbqb8w.x78zum5.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.x1y1aw1k.x1sxyh0.xwib8y2.xurb0ha.x1n2onr6.x1plvlek.xryxfnj.x1c4vz4f.x2lah0s.xdt5ytf.xqjyukv.x1qjc9v5.x1oa3qoh.x1nhvcw1,
.x6s0dn4.x1bs97v6.x1q0q8m5.x9f619.xat24cr.xh8yej3.x1qhh985.x14z7g9a.xzbw6zd.x78zum5.x1q0g3np.x1qughib.xsag5q8.xbbxn1n.xxbr6pl.xijc0j3,

footer {
    display: none !important;
}  

.relative, .scaffold-layout__aside {
    display: none !important;
}

.fie-impression-container {
    display: none !important;
}



#feed-news-module {
    display: none !important;
}

.cccc9846 {
    display: none !important;
}













a[href="/direct/inbox/"] {
    display: block !important;
    border: 2px red dashed;

}

